version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: adriano123
      MONGO_INITDB_DATABASE: api
    volumes:
      - mongo_data:/data/db
      - ./mongodb/conf/mongod.conf:/etc/mongod.conf
    command: --config /etc/mongod.conf

volumes:
  mongo_data:
