version: '3.8'

services:
  # Servidor TURN/STUN
  coturn:
    image: instrumentisto/coturn
    container_name: coturn
    network_mode: host
    restart: always
    environment:
      - TZ=America/Sao_Paulo
      - LISTENING_PORT=3478
      - MIN_PORT=49152
      - MAX_PORT=65535
      - REALM=localhost
      - STATIC_AUTH_SECRET=livego_sec_9x8y7z6a5b4c3d2e1f0g
    command: >
      --log-file=stdout
      --no-stdout-log
      --lt-cred-mech
      --fingerprint
      --use-auth-secret
      --static-auth-secret=$$STATIC_AUTH_SECRET
      --realm=$$REALM
      --external-ip=127.0.0.1
      --listening-port=$$LISTENING_PORT
      --min-port=$$MIN_PORT
      --max-port=$$MAX_PORT
      --no-tls
      --no-dtls
    cap_add:
      - NET_ADMIN

  # MongoDB
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: adriano123
      MONGO_INITDB_DATABASE: api
    volumes:
      - mongo_data:/data/db
      - ./mongodb/conf/mongod.conf:/etc/mongod.conf
    command: --config /etc/mongod.conf
    networks:
      - livego_network

networks:
  livego_network:
    driver: bridge

volumes:
  mongo_data:
    driver: local

 