services:
  coturn:
    image: instrumentisto/coturn
    container_name: coturn
    network_mode: host
    restart: always
    environment:
      - TZ=America/Sao_Paulo
      - LISTENING_PORT=3478
      - MIN_PORT=49152
      - MAX_PORT=65535
      - LISTENING_IP=0.0.0.0
      - EXTERNAL_IP=72.60.249.175
      - FINGERPRINT=true
      - USE_AUTH_SECRET=true
      - STATIC_AUTH_SECRET=livego_sec_9x8y7z6a5b4c3d2e1f0g
      - REALM=livego.store
      - NO_TLS=true
      - NO_DTLS=true
      - NO_TCP=true
